@font-face {
  font-family: "Roboto Condensed";
  src: url("../include/RobotoCondensed.ttf") format("truetype");
}

.text {
  white-space: nowrap;
  display: flex;
  min-width: 99%;
  width: fit-content;
  place-items: center;
  place-content: center;
  height: 100%;
}

body {
  font-family: "Roboto Condensed";
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.container.vertical {
  flex-direction: column;
}

.icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
}

.index_display {
  position: absolute;
  bottom: 8px;
  right: 32px;
  z-index: 999;
  color: white;
  font-size: 100px;
  text-shadow: 12px 12px 2px black;
}
