body {
  font-family: var(--font);
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  letter-spacing: 1;
}

.container {
  color: var(--text-color);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
  place-content: center;
}

.players_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px 32px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slot {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.slot .title {
  width: 100%;
  font-size: 34px;
  margin: 0px 0;
  padding: 8px 8px;
  height: 70px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.player.container > div:not(:last-child) {
  margin-right: 8px;
}

.player.container {
  position: relative;
  width: 800px;
  height: 100px;
  padding: 8px 8px;
}

.name_twitter {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  align-items: flex-start;
}

.filler {
  display: flex;
  width: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}

.name_twitter .name {
  font-size: 32px;
}

.name_twitter .twitter {
  font-size: 24px;
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

.logo {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 74px;
  background-image: url('../logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
  z-index: 9;
}

.icon {
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: #3f3f46;
  height: 84px;
}

.icon div:not(.text) {
  width: 84px;
  height: 84px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3f3f46;
}

.icon.stockicon div {
  width: 200px;
  height: 100%;
}

.flags {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  justify-content: center;
  width: 36px;
  flex-shrink: 0;
}

.flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 28px;
  border-radius: 10px;
}

.sponsor_icon > div > div {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 56px;
  height: 56px;
  border-radius: var(--border-radius);
}

.character_container {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-shrink: 0;
  position: absolute;
  right: 0;
}

.character_container > div {
  overflow: hidden;
  height: 100%;
}

.character_container > div > div {
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0;
}

.character_container > div > div:not(:last-child) {
  margin-right: 4px;
}

.score {
  width: 64px;
  height: 100px;
  font-size: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  margin-left: -8px;
  color: var(--p1-score-color);
  margin-left: -8px;
  margin-right: 0;
  background: var(--p1-score-bg-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor {
  color: var(--p1-sponsor-color);
}

.top1_container {
  position: absolute;
  top: 0;
  left: 0px;
  width: 50vw;
  height: 100vh;
  padding: 64px;
  padding-right: 32px;
  display: flex;
  box-sizing: border-box;
}

.top1_container .player.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px 8px;
  align-items: flex-end;
}

.top1_container .character_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: calc(100% - 100px);
}

.top1_container .character_container div,
.top3_container .character_container div {
  width: 100%;
}

.players_container.scaling {
  width: 50%;
  left: 50%;
  top: 50vh;
  height: 50vh;
  transform: unset;
  flex-wrap: nowrap;
  gap: 8px;
  padding-bottom: 64px;
  padding-right: 64px;
  box-sizing: border-box;
}

.scaling .player.container {
  width: 100%;
  height: 100%;
}

.top3_container {
  display: flex;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  justify-content: center;
  align-items: stretch;
  padding-top: 64px;
  padding-bottom: 16px;
  padding-right: 64px;
  box-sizing: border-box;
  gap: 16px;
}

.top3_container .player.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px 8px;
  align-items: flex-end;
}

.top3_container .character_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: calc(100% - 100px);
}

.top1_container .slot,
.top3_container .slot {
  width: 100%;
  height: 100%;
}

.scaling .slot {
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}

.scaling .score {
  height: calc(100% + 16px);
}

.top1_container .score {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 160px;
  height: 160px;
  font-size: 120px;
  border-bottom-right-radius: 24px;
}

.top3_container .score {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 120px;
  height: 120px;
  font-size: 80px;
  border-bottom-right-radius: 24px;
}

.top1_container .flags,
.top3_container .flags {
  margin-bottom: -8px;
  height: 100px;
}

.top1_container .sponsor_icon,
.top3_container .sponsor_icon {
  position: absolute;
}

.top1_container .filler,
.top3_container .filler {
  width: 0;
}

.top1_container .name_twitter,
.top3_container .name_twitter {
  margin-bottom: -8px;
  height: 100px;
}
