<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <script src="../include/gsap.min.js"></script>
    <script src="../include/he.js"></script>
    <script src="../include/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="top1_container"></div>
    <div class="top3_container"></div>
    <div class="players_container scaling"></div>
    <script>
      window.SCALING = true
    </script>
    <script src="index.js"></script>
  </body>
</html>
