body {
  font-family: "Figtree", "M Plus 1p", sans-serif;
  font-weight: 900;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  letter-spacing: 1;
}

.anim_container_outer {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 1080px;
}

.anim_container_inner {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 1080px;
}

.container {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 496px;
  height: 91px;
  top: 14px;
  background: var(--text-color);
  border-radius: 12px;
  padding-top: 4px;
}

.p1.container {
  background-position: 100% 0;
  left: 380px;
}

.p2.container {
  background-position: 0 0;
  right: 380px;
}

.tournament_container {
  position: absolute;
  border-radius: 8px;
  left: 67px;
  top: 51px;
  width: 246px;
  height: 54px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--bg-color);
}

.tournament_name {
  color: var(--text-color);
  height: 100%;
  font-size: 20px;
  width: 216px;
}

.inner_container {
  position: static;
  width: 488px;
  height: 53px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--bg-color);
  margin-bottom: 17px;
}

.p1 .inner_container {
  flex-direction: row;
}

.p2 .inner_container {
  flex-direction: row-reverse;
}

.name {
  display: flex;
  width: 100%;
  height: 53px;
  font-size: 27px;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0 12px;
  flex-direction: column;
  overflow: hidden;
  color: var(--text-color);
}

.twitter {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 348px;
  height: 43px;
  border-radius: 8px;
  color: white;
  font-size: 21px;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  top: 821px;
  padding-left: 15px;
  padding-right: 15px;
}

.p1.twitter {
  left: 25px;
  background: var(--p1-score-bg-color);
  color: var(--p1-score-color);
}

.p2.twitter {
  right: 25px;
  background: var(--p2-score-bg-color);
  color: var(--p2-score-color);
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  width: 25px;
  height: 25px;
  margin-right: 3px;
}

.p1 .twitter_logo {
  /* Color of the bird logo */
  background: var(--p1-score-color);
  /* Twitter Blue */
  /* background: #1da1f2; */
}

.p2 .twitter_logo {
  /* Color of the bird logo */
  background: var(--p2-score-color);
  /* Twitter Blue */
  /* background: #1da1f2; */
}

.logo {
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  width: 91px;
  height: 91px;
  background-image: url("../logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
  z-index: 9;
}

/* Name a PNG image tournament_logo.png to have it be displayed at the bottom center */
.tournament_logo {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 268px;
  height: 162px;
  background-image: url("./tournament_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
  z-index: 9;
}

.phase_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 1%;
}

.match_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 1%;
}

.losers_container {
  position: relative;
  display: flex;
  width: 486px;
  height: 10px;
}

.match_container .losers_container {
  flex-direction: row;
  justify-content: end;
}

.phase_container .losers_container {
  flex-direction: row-reverse;
  justify-content: start;
}

.phase {
  position: absolute;
  width: 75%;
  height: 1%;
  color: var(--bg-color);
  font-size: 21px;
  font-weight: 800;
}

.match {
  position: absolute;
  width: 75%;
  height: 1%;
  color: #18181b;
  color: var(--bg-color);
  font-size: 21px;
  font-weight: 800;
}

.losers {
  display: flex;
  width: 62px;
  height: 53px;
  font-size: 23px;
  color: var(--bg-color);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
}

.p1 .losers {
  right: 0;
}

.p2 .losers {
  left: 0;
}

.flags_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flag {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 31px;
}

.p1 .flag {
  margin-left: 12px;
}

.p2 .flag {
  margin-right: 12px;
}

.score {
  text-align: center;
  width: 62px;
  height: 53px;
  font-size: 35px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.p1 .score {
  color: var(--p1-score-color);
  background: var(--p1-score-bg-color);
}

.p2 .score {
  color: var(--p2-score-color);
  background: var(--p2-score-bg-color);
}

.sponsor {
  margin-right: 10px;
}

.p1 .sponsor {
  color: var(--p1-sponsor-color);

  /* For gradient color */
  /* background: INSERT LINEAR GRADIENT COLOR HERE; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.p2 .sponsor {
  color: var(--p2-sponsor-color);

  /* For gradient color */
  /* background: INSERT LINEAR GRADIENT COLOR HERE; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.hidden {
  opacity: 0%;
  transition: opacity 0.5s;
}

.unhidden {
  opacity: 100%;
  transition: opacity 0.5s;
}

.sponsor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sponsor-logo {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  margin-right: 4px;
  margin-left: 4px;
}
