out/
character_icon/chara_0*
character_icon/chara_1*
character_icon/chara_3*
character_icon/*.tar.xz
powerrankings_player_data.json
tournament_players.json
local_players.csv
settings.json
update.tar.gz
__pycache__/
.vscode/
log_error.txt
log.txt
sponsor_logos/*
!sponsor_logos/*.txt