user_data/*
user_data/player_avatar/
!user_data/player_avatar/*.txt
user_data/sponsor_logo/
!user_data/sponsor_logo/*.txt
user_data/team_logo/
!user_data/team_logo/*.txt
out/
update.tar.gz
__pycache__/
.vscode/
dist
assets/log.txt
assets/log_error.txt
layout_backup*
layout_custom*
.idea/
.DS_Store

TSH.cflags

TSH.config

TSH.creator

TSH.creator.user

TSH.cxxflags

TSH.files

TSH.includes

THS.cflags

THS.config

THS.creator

THS.creator.user

THS.cxxflags

THS.files

THS.includes

tmp/*
.qt_for_python/*
layout_*/
src/layout/ui_*.py
src/layout/*_ui.py
layout_*/*
build/main/*
TSH_old.exe
main.spec
*.tmp
logs/*