[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
py7zr = "*"
deepdiff = "*"
PySide2 = "*"
chardet = "*"
charset-normalizer = "*"
pyqt5 = "*"
qdarkstyle = "*"
pillow = "*"
flask = "*"
flask-cors = "*"
asyncio = "*"
python-dateutil = "*"
pynput = "*"
cloudscraper = "*"

[dev-packages]

[requires]
python_version = "3.8"
