<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./css/index_roa1.css" />
  </head>
  <body>
    <!-- <div
    class="mask"
    style="
      position: relative;
      height: 300px;
      top: 100px;
      left: 0;
      overflow: hidden;
    "
    >
      <div class="info material_container middle">
        <div class="logo"></div>
        <div class="info">
          <div class="tournament_name"></div>
          <div class="phase"></div>
        </div>
      </div>
    </div> -->

    <div class="singles">
      <div class="middle_container">
        <div class="match"></div>
        <div class="best_of"></div>
      </div>

      <div class="t1 p1 container">
        <div class="name"></div>
        <div class="flagscontainer">
          <div class="flagcountry"></div>
          <div class="flagstate"></div>
        </div>

        <div id="t1_belowname" class="below_name">
          <div class="below_name txtBg t1"></div>
          <div class="pronoun"></div>
          <div class="seed"></div>
        </div>
        <div id="p1CharaMask" class="p1 charMask">
          <div class="p1 character"></div>
        </div>
        <div class="score"></div>
        <div class="sponsor-container"></div>
        <div class="twitter"></div>
        <div class="bg"><div></div></div>
      </div>

      <div class="t2 p1 container">
        <div class="name"></div>
        <div class="flagscontainer">
          <div class="flagcountry"></div>
          <div class="flagstate"></div>
        </div>

        <div id="t2_belowname" class="below_name">
          <div class="below_name txtBg t2 flipBack"></div>
          <div class="pronoun"></div>
          <div class="seed"></div>
        </div>
        <div id="p2CharaMask" class="p2 charMask flipBack">
            <div class="p2 character"></div>
        </div>
        <div class="score"></div>
        <div class="sponsor-container"></div>
        <div class="twitter"></div>
        <div class="bg"><div></div></div>
      </div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
