body {
  font-family: var(--font);
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  letter-spacing: 1;
}

.container {
  color: var(--text-color);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
  place-content: center;
}

.players_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px 32px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slot {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.slot .title {
  width: 100%;
  font-size: 34px;
  margin: 0px 0;
  padding: 8px 8px;
  height: 70px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.player.container > div:not(:last-child) {
  margin-right: 8px;
}

.player.container {
  position: relative;
  width: 800px;
  height: 100px;
  padding: 8px 8px;
}

.name_twitter {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  align-items: flex-start;
}

.filler {
  display: flex;
  width: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}

.name_twitter .name {
  font-size: 32px;
  max-width: 100%;
}

.name_twitter .twitter {
  font-size: 24px;
  max-width: 100%;
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

.logo {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 74px;
  background-image: url("../logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
  z-index: 9;
}

.icon {
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: #3f3f46;
  height: 84px;
}

.icon div:not(.text) {
  width: 84px;
  height: 84px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3f3f46;
}

.icon.stockicon div {
  width: 100%;
  height: 100%;
}

.flags {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  justify-content: center;
  width: 36px;
  flex-shrink: 0;
}

.flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 24px;
  border-radius: 6px;
}

.sponsor_icon > div > div {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 56px;
  height: 56px;
  border-radius: var(--border-radius);
}

.character_container {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-shrink: 0;
  position: absolute;
  right: 0;
  width: 200px;
  background-color: #3f3f46;
}

.character_container > div {
  overflow: hidden;
  height: 100%;
  gap: 4px;
  display: flex;
  width: 200px;
}

.character_container > div > div {
  overflow: hidden;
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-radius: 0;
}

.score {
  width: 64px;
  height: 100px;
  font-size: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  margin-left: -8px;
  color: var(--p1-score-color);
  margin-left: -8px;
  margin-right: 0;
  background: var(--p1-score-bg-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor {
  color: var(--p1-sponsor-color);
}
