body {
  font-family: "Kanit", "M PLUS 1", sans-serif;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  letter-spacing: 1;
  text-transform: uppercase;
}

.container {
  position: absolute;
  top: 38px;
  width: 488px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: var(--bg-color);
  border-radius: 8px;
  overflow: hidden;
}

.p1.container {
  transform: skew(20deg);
  left: 410px;
  flex-direction: row;
}

.p2.container {
  transform: skew(-20deg);
  right: 410px;
  flex-direction: row-reverse;
}

.name {
  display: flex;
  width: 100%;
  height: 53px;
  font-size: 25px;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  color: var(--text-color);
  word-spacing: 2px;
}

.p1 .name {
  transform: skew(-20deg);
  margin-left: 15px;
}

.p2 .name {
  transform: skew(20deg);
  margin-right: 15px;
}

.symbol {
  /* Color of the symbol */
  background: white;
  width: 25px;
  height: 25px;
  margin-right: 3px;
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  /* Color of the bird */
  /* Twitter Blue */
  /* background: #1da1f2; */
}

.under_chips .twitter_logo {
  background: rgba(0, 0, 0, 0);
}

.location_logo {
  -webkit-mask-image: url(./location-sign-svgrepo-com.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.under_chips .location_logo {
  background: rgba(0, 0, 0, 0);
}

.logo {
  position: absolute;
  top: 19px;
  left: 50%;
  transform: translateX(-50%);
  width: 91px;
  height: 91px;
  background-image: url("../logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
  z-index: 9;
}

/* Name a PNG image tournament_logo.png to have it be displayed at the bottom center */
.tournament_logo {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 268px;
  height: 162px;
  background-image: url("./tournament_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
}

.placeholder_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.placeholder {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 53px;
}

.p1 .placeholder {
  background: var(--p1-score-bg-color);
}

.p2 .placeholder {
  background: var(--p2-score-bg-color);
}

.score {
  text-align: center;
  width: 62px;
  height: 53px;
  font-size: 35px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.score_container {
  justify-content: center;
  text-align: center;
  width: 62px;
  height: 53px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.p1 .score {
  color: var(--p1-score-color);
  transform: skew(-20deg);
}

.p1 .score_container {
  right: 0px;
  margin-left: 15px;
  color: var(--p1-score-color);
  background: var(--p1-score-bg-color);
}

.p2 .score {
  color: var(--p2-score-color);
  transform: skew(20deg);
}

.p2 .score_container {
  left: 0px;
  margin-right: 15px;
  color: var(--p2-score-color);
  background: var(--p2-score-bg-color);
}

.p1 .sponsor {
  /* For gradient color */
  background: linear-gradient(
    90deg,
    var(--p1-sponsor-color) 0%,
    var(--text-color) 200%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p2 .sponsor {
  /* For gradient color */
  background: linear-gradient(
    90deg,
    var(--p2-sponsor-color) 0%,
    var(--text-color) 200%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hidden {
  opacity: 0%;
  transition: opacity 0.5s ease-in-out;
}

.unhidden {
  opacity: 100%;
  transition: opacity 0.5s ease-in-out;
}

.character_container.unhidden {
  transition-delay: 0.3s;
}

.flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  height: 30px;
  width: 45px;
}

.chips {
  display: flex;
  position: absolute;
  top: 4px;
  width: 881px;
  height: 30px;
  align-content: center;
  justify-content: left;
  overflow: hidden;
}

.under_chips {
  display: flex;
  position: absolute;
  top: 4px;
  width: 881px;
  height: 30px;
  align-content: center;
  justify-content: left;
  overflow: hidden;
}

.p1.chips {
  flex-direction: row-reverse;
  justify-content: right;
  left: 0px;
}

.p1.under_chips {
  transform: skew(20deg);
  flex-direction: row-reverse;
  justify-content: right;
  left: 0px;
}

.p2.under_chips {
  transform: skew(-20deg);
  right: 0px;
}

.p2.chips {
  right: 0px;
}

.chip {
  overflow: hidden;
}

.chip .text:not(.text_empty) {
  height: 30px;
  font-size: 20px;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  min-width: unset;
  color: var(--text-color);
  background: rgba(0, 0, 0, 0);
}

.under_chips .chip .text:not(.text_empty) {
  color: rgba(0, 0, 0, 0);
}

.p1 .chip .text:not(.text_empty) {
  margin-left: 4px;
}

.p1.under_chips .chip .text:not(.text_empty) {
  margin-left: 4px;
  background: var(--p1-score-bg-color);
}

.p2 .chip .text:not(.text_empty) {
  margin-right: 4px;
}

.p2.under_chips .chip .text:not(.text_empty) {
  margin-right: 4px;
  background: var(--p2-score-bg-color);
}

.under_chips .flagcountry.chip {
  opacity: 0%;
}

.flagcountry.chip .text:not(.text_empty) {
  padding: 0px 4px;
}

.topleft_container {
  position: absolute;
  top: 38px;
  height: 53px;
  display: flex;
  align-items: center;
  left: -15px;
  width: 360px;
  align-content: center;
  justify-content: left;
  background: rgba(0, 0, 0, 0);
}

.phase_container {
  transform: skew(-20deg);
  background: var(--text-color);
  border-radius: 8px;
}

.phase {
  transform: skew(20deg);
}

.phase .text:not(.text_empty) {
  padding-left: 26px;
  min-width: unset;
  color: var(--bg-color);
}

.match_container {
  transform: skew(-20deg);
  background: var(--bg-color);
  border-radius: 8px;
}

.match {
  transform: skew(20deg);
}

.match .text:not(.text_empty) {
  font-size: 25px;
  padding-left: 26px;
  padding-right: 12px;
  padding-right: 15px;
  min-width: unset;
  color: var(--text-color);
}

.info.chips {
  top: 95px;
  left: 0px;
  left: -15px;
  width: 350px;
  width: 362px;
}

.score_boxes {
  top: 114px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 40px;
  width: 920px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  height: 30px;
  width: 100px;
  margin-left: 4px;
  margin-right: 4px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;

  border-width: 3px;
  border-color: var(--text-color);
  border-style: solid;
  border-radius: 8px;
}

.p1_won {
  background: var(--p1-score-bg-color);
}

.p2_won {
  background: var(--p2-score-bg-color);
}

.neither_won {
  background: rgba(0, 0, 0, 0.75);
}

.bg {
  position: absolute;
  width: 960px;
  height: 1080px;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.p1.bg {
  left: 0;
  -webkit-mask-image: url("./P1CameraBorder.png");
  background: var(--p1-score-bg-color);
}

.p2.bg {
  right: 0;
  -webkit-mask-image: url("./P2CameraBorder.png");
  background: var(--p2-score-bg-color);
}

.p1 .tsh-center-image {
  transform: skew(-20deg);
}

.p2 .tsh-center-image {
  transform: skew(-20deg);
}

.edge {
  position: absolute;
  width: 80px;
  height: 100px;
  overflow: hidden;
}

.p1 .edge {
  left: 0px;
}

.p2 .edge {
  right: 0px;
}

.character_container {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 140px;
}

.p1 .tsh_character {
  background: var(--p1-score-bg-color);
}

.p2 .tsh_character {
  background: var(--p2-score-bg-color);
  transform: scaleX(-1);
}
