<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=M+PLUS+1:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="ssbu">
    <div class="logo"></div>

    <div class="tournament_logo hidden unhidden"></div>

    <div class="topleft_container">
      <div class="match_container">
        <div class="match"></div>
      </div>
    </div>
    <div class="info chips">
      <div class="phase_container chip">
        <div class="phase"></div>
      </div>
    </div>

    <div class="p1 container">
      <div class="placeholder_container"></div>
      <div class="name"></div>
      <div class="score_container">
        <div class="score"></div>
      </div>
      <div class="edge">
        <div class="p1 character_container hidden unhidden"></div>
      </div>
    </div>

    <div class="p1 under_chips">
      <div class="seed chip"></div>
      <div class="twitter chip"></div>
      <div class="pronoun chip"></div>
      <div class="flagstate chip"></div>
      <div class="flagcountry chip"></div>
    </div>

    <div class="p1 chips">
      <div class="seed chip"></div>
      <div class="twitter chip"></div>
      <div class="pronoun chip"></div>
      <div class="flagstate chip"></div>
      <div class="flagcountry chip"></div>
    </div>

    <div class="p1 bg hidden unhidden"><div></div></div>

    <div class="p2 container">
      <div class="placeholder_container"></div>
      <div class="name"></div>
      <div class="score_container">
        <div class="score"></div>
      </div>
      <div class="edge">
        <div class="p2 character_container hidden unhidden"></div>
      </div>
    </div>

    <div class="p2 under_chips">
      <div class="seed chip"></div>
      <div class="twitter chip"></div>
      <div class="pronoun chip"></div>
      <div class="flagstate chip"></div>
      <div class="flagcountry chip"></div>
    </div>

    <div class="p2 chips">
      <div class="seed chip"></div>
      <div class="twitter chip"></div>
      <div class="pronoun chip"></div>
      <div class="flagstate chip"></div>
      <div class="flagcountry chip"></div>
    </div>

    <div class="p2 bg hidden unhidden"><div></div></div>

    <div class="dark score_boxes"></div>
    <div class="blue score_boxes"></div>
    <div class="red score_boxes"></div>
    <div class="word score_boxes"></div>

    <script src="index.js"></script>
  </body>
</html>
