body {
  font-family: var(--font);
  letter-spacing: 1px;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
}

.container {
  width: 350px;
  height: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  color: var(--text-color);
  z-index: 9;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.container .bg {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(24px 0%, 100% 0%, calc(100% - 24px) 100%, 0% 100%);
}

.container .bg > div {
  background: var(--bg-color);
  width: 100%;
  height: 100%;
  clip-path: polygon(
    27px 4px,
    calc(100% - 46px) 4px,
    calc(100% - 66px) calc(100% - 4px),
    7px calc(100% - 4px)
  );
}

.container.t1 .bg {
  background: var(--p1-score-bg-color);
}

.container.t2 .bg {
  background: var(--p2-score-bg-color);
}

.doubles .container {
  transform: scaleX(0.9);
}

.singles .t1.p1.container {
  left: 467px;
  top: 997px;
}

.singles .t2.p1.container {
  left: 1207px;
  top: 997px;
}

.doubles .t1.p1.container {
  left: 230px;
  top: 997px;
}

.doubles .t1.p2.container {
  left: 650px;
  top: 997px;
}

.doubles .t2.p1.container {
  left: 1050px;
  top: 997px;
}

.doubles .t2.p2.container {
  left: 1460px;
  top: 997px;
}

.container .name {
  color: var(--text-color);
  position: absolute;
  left: 30px;
  top: 2px;
  width: 210px;
  height: 34px;
  font-size: 22px;
  padding-left: 4px;
  padding-right: 4px;
  justify-content: left;
  text-transform: uppercase;
}

.twitter-container {
  z-index: -1;
  top: 20px;
  left: 120px;
  width: 238px;
  height: 49px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  color: var(--text-color);
  background: var(--bg-color);
  clip-path: polygon(30px 0%, 100% 0%, calc(100% - 30px) 100%, 0% 100%);
}

.twitter {
  position: absolute;
  left: 26px;
  top: 22px;
  width: 170px;
  height: 20px;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: var(--text-color);
  width: 18px;
  height: 18px;
  margin-right: 6px;
  flex-shrink: 0;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 8px;
  background-image: url("../logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 0;
}

.t1 .sponsor {
  color: var(--p1-sponsor-color);
}

.t2 .sponsor {
  color: var(--p2-sponsor-color);
}

.flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 26px;
  border: 2px solid white;
  border-radius: 10px;
}

.flagcountry {
  position: absolute;
  top: 6px;
  left: -80px;
}

.flagstate {
  position: absolute;
  top: 38px;
  left: -62px;
}

.score {
  position: absolute;
  width: 30px;
  height: 34px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 28px;
  top: 1px;
  right: 18px;
  color: var(--p1-score-color);
}

.sponsor-container {
  position: absolute;
  top: 2px;
  height: 34px;
  width: 34px;
  left: 246px;
  overflow: hidden;
  display: flex;
}

.sponsor-logo {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.material_container {
  position: absolute;
  color: var(--text-color);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background: var(--bg-color);
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.info.material_container {
  color: var(--text-color);
  padding: 8px 16px;
  background-position: center;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 22px;
}

.info.material_container_inner {
  display: flex;
  width: 100%;
  font-size: inherit;
  flex-direction: column;
}

.info.material_container_inner > div {
  flex-shrink: 0;
  text-align: center;
}

.info.material_container.middle {
  left: 16px;
  top: 16px;
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.info.material_container.middle .info {
  left: 16px;
  top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  text-align: justify;
  align-items: center;
  overflow: hidden;
  margin: 0 24px;
  gap: 2px;
}

.info.material_container.middle .tournament_name {
  max-width: 100%;
  font-size: 26px;
}

.info.material_container.middle .phase {
  max-width: 100%;
  font-size: 16px;
  letter-spacing: 4px;
}

.info.material_container.middle .match {
  max-width: 100%;
  font-size: 22px;
  letter-spacing: 3px;
  opacity: 1;
}

.info.doubles.material_container {
  top: 16px;
  width: 360px;
  height: 66px;
  padding: 10px;
  gap: 10px;
}

.info.doubles.material_container .team_name {
  width: 282px;
  padding: 0 6px;
  box-sizing: border-box;
}

.t1.material_container {
  left: 580px;
}

.t2.material_container {
  left: unset;
  right: 580px;
  flex-direction: row-reverse;
}

.material_container .doubles_score {
  top: 14px;
  width: 48px;
  height: 100%;
  font-size: 38px;
  color: var(--p1-score-color);
  border-radius: var(--border-radius);
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.t1 .doubles_score {
  color: var(--p1-score-color);
  background: var(--p1-score-bg-color);
}
.t2 .doubles_score {
  color: var(--p2-score-color);
  background: var(--p2-score-bg-color);
}

.pronoun {
  position: absolute;
  top: -20px;
  left: 268px;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 6px;
  margin-right: 6px;
  letter-spacing: normal;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  color: var(--bg-color);
}

.t1 .pronoun {
  background-color: var(--p1-sponsor-color);
}
.t2 .pronoun {
  background-color: var(--p2-sponsor-color);
}