@font-face {
  font-family: "Roboto";
  src: url("../include/RobotoCondensed.ttf") format("truetype");
}

.text {
  white-space: nowrap;
  display: flex;
  min-width: 100%;
  width: fit-content;
  place-items: center;
  place-content: center;
  height: 100%;
}

body {
  font-family: "Roboto";
  letter-spacing: 1.4px;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.container {
  width: 350px;
  height: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  color: white;
  z-index: 9;
}

.container .bg {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.container.t1 .bg {
  background-position: 0 0;
  background-image: url("./player_container_top_1.png");
}

.container.t2 .bg {
  background-position: 0 0;
  background-image: url("./player_container_top_2.png");
}

.doubles .container {
  transform: scaleX(0.9);
}

.singles .t1.p1.container {
  left: 467px;
  top: 997px;
}

.singles .t2.p1.container {
  left: 1207px;
  top: 997px;
}

.doubles .t1.p1.container {
  left: 230px;
  top: 997px;
}

.doubles .t1.p2.container {
  left: 650px;
  top: 997px;
}

.doubles .t2.p1.container {
  left: 1050px;
  top: 997px;
}

.doubles .t2.p2.container {
  left: 1460px;
  top: 997px;
}

.container .name {
  color: white;
  position: absolute;
  left: 38px;
  top: 2px;
  width: 194px;
  height: 34px;
  font-size: 20px;
  padding-left: 4px;
  padding-right: 4px;
  justify-content: left;
  text-transform: uppercase;
}

.twitter-container {
  z-index: -1;
  top: 20px;
  left: 120px;
  width: 238px;
  height: 49px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  color: white;
  background-image: url("./player_container_bottom.png");
}

.twitter {
  position: absolute;
  left: 38px;
  top: 22px;
  width: 160px;
  height: 20px;
  font-size: 18px;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 900px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  /* background-image: url("./logo.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.t1 .sponsor {
  color: #ff3837ff;
}

.t2 .sponsor {
  color: #1255a3ff;
}

.phase {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 472px;
  height: 46px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./phase-container.png");
  color: white;
  font-size: 34px;
  place-content: center;
  padding-left: 30px;
  padding-right: 30px;
  background-position: center;
}

.flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 26px;
  border: 2px solid white;
  border-radius: 8px;
}

.flagcountry {
  position: absolute;
  top: 6px;
  left: -80px;
}

.flagstate {
  position: absolute;
  top: 38px;
  left: -62px;
}

.score {
  position: absolute;
  width: 30px;
  height: 34px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 32px;
  top: 2px;
  right: 18px;
  color: white;
}

.sponsor-container {
  position: absolute;
  top: 2px;
  height: 34px;
  width: 34px;
  left: 246px;
  overflow: hidden;
  display: flex;
}

.sponsor-logo {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
