@font-face {
  font-family: "NotoSans";
  src: url("../include/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../include/RobotoCondensed.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../include/Roboto-Regular.ttf") format("truetype");
}

body {
  font-family: NotoSans;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  letter-spacing: 1;
}

.container {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.player1_content {
  display: flex;
  position: relative;
}

.player2_content {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color);
  padding: 5px 16px;
  border-radius: 10px;
}

.set_container {
  width: 400px;
  color: var(--text-color);
  margin: 10px;
  overflow: hidden;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.phase {
  font-size: 18px;
  letter-spacing: 2px;
  width: 200px;
  text-align: left;
  align-items: left;
  justify-content: left;
}

.phase .text {
  text-align: left;
  align-items: left;
  justify-content: left;
}

.match {
  font-size: 18px;
  letter-spacing: 2px;
  width: 200px;
  text-align: right;
}

.match .text {
  text-align: right;
  align-items: right;
  justify-content: right;
}

.sponsor {
  margin-right: 6px;
}

.winner {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color);
  text-align: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.name {
  align-items: center;
  flex-grow: 1;
  text-align: left;
  font-size: 24px;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.color1 .sponsor {
  color: var(--p1-sponsor-color);
  font-size: 24px;
}

.loser {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color);
  text-align: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  filter: brightness(0.5);
}

.color2 .sponsor {
  color: var(--p2-sponsor-color);
  font-size: 24px;
}

.icon {
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: #3f3f46;
}

.icon div:not(.text) {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3f3f46;
}

.sponsor_icon > div > div {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border-radius: var(--border-radius);
}

.score {
  font-size: 40px;
  color: var(--text-color);
  overflow: hidden;
  width: 80px;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
}

.color1 .score {
  background: var(--p1-score-bg-color);
}

.color2 .score {
  background: var(--p2-score-bg-color);
}

.bracket_line {
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    var(--bg-color) 10%
  );
  height: 20px;
  left: -120px;
  top: 60%;
  transform: translateY(-50%);
  z-index: -1;
}

.line_arrow {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-left: 48px solid var(--bg-color);
  top: 50%;
  transform: translateY(-50%) scaleY(50%) translateX(50%);
  border-top: 48px solid transparent;
  border-bottom: 48px solid transparent;
}
