@font-face {
    font-family: "Roboto";
    src: url("../include/Roboto-Regular.ttf") format("truetype");
}

.text {
    white-space: nowrap;
    display: flex;
    min-width: 100%;
    width: fit-content;
    place-items: center;
    place-content: center;
    height: 100%;
}

body {
    font-family: Roboto;
    font-weight: bold;
    opacity: 0;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stage-icon {
    width: 200px;
    height: 128px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.stage-container {
    flex-shrink: 0;
    margin: 10px;
    position: relative;
}

.stamp {
    position: absolute;
    bottom: 8px;
    right: 10px;
    width: 64px;
    height: 64px;
}
.stamp.stage-striked {
    background-image: url(../../icons/stage_strike.svg);
}
.stamp.stage-dsr {
    background-image: url(../../icons/stage_dsr.svg);
}
.stamp.stage-selected {
    background-image: url(../../icons/stage_select.svg);
}