body {
  font-family: var(--font);
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  place-content: center;
  gap: 16px;
  height: 100%;
}

.stage-name {
  color: var(--text-color);
  width: 200px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2;
  height: 28px;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
  box-sizing: border-box;
}

.banned-by-name {
  color: var(--text-color);
  width: 200px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2;
  height: 28px;
  top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  background: var(--bg-color);
}

.stage-icon {
  width: 200px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stage-container {
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border-radius: var(--border-radius);
  background: var(--bg-color);
  overflow: hidden;
}

.stamp {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  transform: translate(-50%, -50%);
}
.stamp.stage-striked {
  background-image: url(./stage_strike.svg);
}
.stamp.stage-dsr {
  background-image: url(./stage_dsr.svg);
}
.stamp.stage-selected {
  background-image: url(./stage_select.svg);
}
.stamp.stage-selected-gentlemans {
  background-image: url(./stage_gentlemans.svg);
}
