@font-face {
  font-family: "Roboto Condensed";
  src: url("../include/RobotoCondensed.ttf") format("truetype");
}

body {
  font-family: var(--font);
  letter-spacing: 1.2px;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
}

.plane {
  position: absolute;
  left: 0;
  width: 100vw;
  top: 0;
  height: 100vh;
  perspective: 800px;
  transform-style: preserve-3d;
}

.plane > div {
  position: absolute;
  left: 0;
  width: 100vw;
  top: 0;
  height: 100vh;
  transform-style: preserve-3d;
}

.r3d .plane.left_plane > div {
  transform-origin: left;
  transform: rotateY(10deg);
}

.r3d .plane.right_plane > div {
  transform-origin: right;
  transform: rotateY(-10deg);
}

.stage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -999;
}

.stage .text div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: -999;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./bg.png);
  filter: blur(5px) brightness(0.9);
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./bg.png);
}

.player_avatar {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.42))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.44))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.42))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.4));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.p1 .player_avatar {
  background: var(--p1-score-bg-color);
}
.p2 .player_avatar {
  background: var(--p2-score-bg-color);
}

.player_avatar div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.container {
  position: absolute;
  color: var(--text-color);
  display: flex;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  align-items: center;
  padding: 20px 40px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.player_col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 470px;
}

.name_row {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-end;
}

.info_grid {
  display: flex;
  justify-items: center;
  gap: 8px;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  margin-top: 8px;
}

.p2 .info_grid {
  flex-direction: row-reverse;
}

.info_grid > .text_empty {
  padding: 0;
  width: 0;
  display: none;
}

.info_grid > div {
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 2px 8px;
  border: 2px solid var(--text-color);
}

.player.container {
  bottom: 0;
  width: 640px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  padding-left: 32px;
  padding-right: 32px;
  z-index: 9;
  gap: 42px;
}

.player.container.p2 {
  flex-direction: row-reverse;
}

.player.container.p2 .column {
  align-items: flex-end;
}

.player.container.p2 .column > div {
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.p2 .row {
  flex-direction: row-reverse;
}

.p2.container .row > div {
  justify-content: flex-end;
}

.p1.container {
  background-position: 100% 0;
  left: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transform-origin: left;
}

.p2.container {
  background-position: 0 0;
  right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transform-origin: right;
}

.container .name {
  font-size: 56px;
  overflow: hidden;
}

.container .name .text > span {
  display: flex;
  align-items: center;
}

.p2.container .name .text > span {
  flex-direction: row-reverse;
}

.container .real_name {
  font-size: 24px;
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.twitter, .seed, .real_name, .pronoun {
  font-size: 26px;
}

.real_name {
  align-self: flex-start;
}

.p2 .real_name {
  align-self: flex-end;
}

.logo {
  width: 72px;
  height: 72px;
  background-image: url("../logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.p1 .sponsor {
  color: var(--p1-sponsor-color);
}

.p2 .sponsor {
  color: var(--p2-sponsor-color);
}

.losers_badge {
  position: absolute;
  font-size: 24px;
  padding: 2px 12px;
  bottom: 16px;
  opacity: 0;
  border-radius: calc(var(--border-radius)/2);
  font-weight: 900;
  color: var(--bg-color);
}

.p1 .losers_badge {
  background-color: var(--p1-sponsor-color);
  right: 16px;
}

.p2 .losers_badge {
  background-color: var(--p2-sponsor-color);
  left: 16px;
}

.container.top {
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 16px 32px;
  border-radius: 0;
}

.tournament_container {
  display: flex;
  max-width: 25%;
  width: 25%;
  gap: 16px;
  flex-shrink: 0;
}

.tournament_container .col {
  gap: 0;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.match_info_container {
  display: flex;
  max-width: 25%;
  width: 25%;
  gap: 16px;
  justify-content: flex-end;
  flex-shrink: 0;
}

.match_info_container > .col {
  justify-content: flex-end;
}

.tournament {
  font-size: 40px;
  place-content: center;
  max-width: 100%;
}

.event {
  font-size: 24px;
  place-content: center;
  max-width: 100%;
}

.match {
  font-size: 64px;
  letter-spacing: 2px;
  place-content: center;
  text-transform: uppercase;
  max-width: 100%;
  flex-grow: 1;
  overflow: hidden;
  padding: 0 64px;
}

.best_of {
  font-size: 24px;
  align-self: flex-end;
}

.phase {
  font-size: 24px;
  align-self: flex-end;
}

.flagscontainer {
  display: flex;
  gap: 8px;
}

.flag {
  position: relative;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 56px;
  height: 36px;
  display: flex;
  justify-content: center;
  border: 2px solid white;
  margin-bottom: 16px;
  border-radius: 8px;
}

.flagname {
  position: absolute;
  text-align: center;
  font-size: 16px;
  padding: 1px 8px;
  border-radius: 2px;
  background-color: #000000ff;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px white solid;
  border-radius: 10px;
  color: white;
}

.score {
  top: 0;
  width: 60px;
  right: 42px;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 120px;
}

.p2 .score {
  right: unset;
  left: 42px;
}

.p1.character {
  position: absolute;
  overflow: visible;
  left: 0;
  width: 540px;
  top: 50%;
  transform: translateY(-50%);
  height: 720px;
  z-index: -1;
  display: flex;
}

.character {
  transform-style: preserve-3d;
  flex-direction: column;
}

.character .video {
  top: 0;
  position: absolute;
  left: 0%;
}

.p1.character .tsh_character {
  width: 100%;
  background: var(--p1-score-bg-color);
}

.tsh_character {
  border-radius: var(--border-radius);
  height: 100%;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.42))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.44))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.42))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.4));
  overflow: hidden;
}

.p2.character {
  position: absolute;
  overflow: visible;
  right: 0px;
  width: 540px;
  top: 50%;
  transform: translateY(-50%);
  height: 720px;
  display: flex;
  z-index: -1;
}

.p2.character > .tsh_character {
  width: 100%;
  transform: scaleX(-1);
  background: var(--p2-score-bg-color);
}

.character .text {
  transform-style: preserve-3d;
}

.portrait_container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.portrait {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(-16px 12px 0px rgba(0, 0, 0, 0.8));
}

.invert_shadow {
  filter: drop-shadow(16px 12px 0px rgba(0, 0, 0, 0.8));
}

.vs {
  font-size: 200px;
  position: absolute;
  color: white;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  z-index: 999;
}

.character_name {
  position: fixed;
  max-width: 480px;
  min-width: 0;
  top: -56px;
  font-size: 32px;
  text-transform: uppercase;
  left: 48px;
  box-sizing: border-box;
  background: var(--bg-color);
  border-radius: calc(var(--border-radius)/2);
  padding: 4px 16px;
}

.p2 .character_name {
  right: 48px;
  left: unset;
}

.character_name .text {
  justify-content: flex-start;
}

.character_name.text_empty {
  padding: 0 !important;
}

.sponsor_logo {
  overflow: visible;
  position: fixed;
  width: 140px;
  height: 140px;
  top: -680px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.p1 .sponsor_logo {
  left: 32px;
}

.p2 .sponsor_logo {
  right: 32px;
}