<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body class="r3d">
    <!-- <div class="stage"></div> -->

    <div class="container top">
      <div class="tournament_container">
        <div class="logo"></div>
        <div class="col">
          <div class="tournament"></div>
          <div class="event"></div>
        </div>
      </div>
      <div class="match"></div>
      <div class="match_info_container">
        <div class="col">
          <div class="phase"></div>
          <div class="best_of"></div>
        </div>
      </div>
    </div>

    <div class="plane left_plane">
      <div>
        <div class="p1 player container">
          <div class="sponsor_logo"></div>
          <div class="character_name"></div>
    
          <div class="player_col">
            <div class="name_row">
              <div class="name"></div>
              <div class="flagscontainer">
                <div class="flagcountry"></div>
                <div class="flagstate"></div>
              </div>
            </div>
            <div class="real_name"></div>
            <div class="info_grid">
              <div class="pronoun"></div>
              <div class="twitter"></div>
              <div class="seed"></div>
            </div>
          </div>
    
          <div class="score"></div>
          <div class="losers_badge">LOSERS</div>
        </div>
        <div class="p1 character"></div>
      </div>
    </div>

    <div class="plane right_plane">
      <div>
        <div class="p2 player container">
          <div class="sponsor_logo"></div>
          <div class="character_name"></div>
    
          <div class="player_col">
            <div class="name_row">
              <div class="flagscontainer">
                <div class="flagcountry"></div>
                <div class="flagstate"></div>
              </div>
              <div class="name"></div>
            </div>
            <div class="real_name"></div>
            <div class="info_grid">
              <div class="pronoun"></div>
              <div class="twitter"></div>
              <div class="seed"></div>
            </div>
          </div>
    
          <div class="score"></div>
          <div class="losers_badge">LOSERS</div>
        </div>

        <div class="p2 character"></div>
      </div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
