@font-face {
  font-family: "Roboto Condensed";
  src: url("../include/RobotoCondensed.ttf") format("truetype");
}

.text {
  white-space: nowrap;
  display: flex;
  min-width: 100%;
  width: fit-content;
  place-items: center;
  place-content: inherit;
  height: 100%;
}

body {
  font-family: "Roboto Condensed";
  letter-spacing: 1.2px;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./bg.png);
}

.container {
  position: absolute;
  color: white;
  z-index: 9;
  width: 600px;
  height: 210px;
  background-color: #000000df;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.p2 .row {
  flex-direction: row-reverse;
}

.p2.container .row > div {
  justify-content: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
}

.p1.container {
  background-position: 100% 0;
  left: 0px;
  top: 850px;
}

.p2.container {
  background-position: 0 0;
  right: 0px;
  top: 850px;
}

.container .name {
  width: 380px;
  font-size: 50px;
}

.container .real_name {
  width: 380px;
  font-size: 32px;
}

.twitter_logo {
  background-image: url(./twitter.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.twitter {
  font-size: 32px;
  width: 380px;
}

.logo {
  position: absolute;
  top: 900px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background-image: url("./logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.p1 .sponsor {
  color: #f99090;
}

.p2 .sponsor {
  color: #29b6f6;
}

.phase {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 46px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 60px;
  place-content: center;
  padding-left: 20px;
  padding-right: 20px;
  background-position: center;
}

.match {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 46px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 80px;
  letter-spacing: 2px;
  place-content: center;
  padding-left: 20px;
  padding-right: 20px;
  background-position: center;
  text-transform: uppercase;
}

.best_of {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 50px;
  place-content: center;
  padding-left: 20px;
  padding-right: 20px;
  background-position: center;
}

.flagscontainer {
  position: absolute;
  top: 32px;
  right: 48px;
  display: flex;
  flex-direction: column;
}

.p2 .flagscontainer {
  left: 48px;
  right: unset;
}

.flag {
  position: relative;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 56px;
  height: 36px;
  display: flex;
  justify-content: center;
  border: 2px solid white;
  margin-bottom: 32px;
  border-radius: 8px;
}

.flagname {
  position: absolute;
  text-align: center;
  font-size: 20px;
  padding: 1px 8px;
  border-radius: 2px;
  background-color: #000000ff;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px white solid;
  border-radius: 8px;
}

.score_container {
  width: 140px;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-color: #000000ff;
  color: white;
  z-index: 9;
  display: flex;
  border-radius: 8px;
}

.p1.score_container {
  background-position: 100% 0;
  left: 680px;
  top: 780px;
}

.p2.score_container {
  background-position: 0 0;
  right: 680px;
  top: 780px;
}

.score {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 150px;
}

.p1.character {
  position: absolute;
  overflow: visible;
  left: 0px;
  width: 720px;
  top: 50%;
  transform: translateY(-50%);
  height: 680px;
  perspective: 1500px;
  perspective-origin: right;
  z-index: -1;
  display: flex;
}

.character .video {
  top: 0;
  position: absolute;
  left: -20%;
}

.p2.character video {
  transform-origin: 50% 50%;
  transform: scaleX(-1);
  left: unset;
  right: -20%;
}

.p1.character .bg {
  width: 100%;
  transform: rotateY(10deg);
  background-color: #ff3837ff;
}

.bg {
  border-radius: 8px;
  height: 100%;
  box-shadow: 0 0px 20px 4px rgb(0 0 0);
}

.p2.character {
  position: absolute;
  overflow: visible;
  right: 0px;
  width: 720px;
  top: 50%;
  transform: translateY(-50%);
  height: 680px;
  perspective: 1000px;
  perspective-origin: left;
  display: flex;
}

.p2.character .bg {
  width: 100%;
  transform: rotateY(-10deg);
  background-color: #308affff;
}

.portrait_container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portrait {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(-16px 12px 0px rgba(0, 0, 0, 0.8));
}

.invert_shadow {
  filter: drop-shadow(16px 12px 0px rgba(0, 0, 0, 0.8));
}

.vs {
  font-size: 200px;
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  z-index: 999;
}

.sponsor_logo {
  overflow: visible;
  position: fixed;
  width: 180px;
  height: 180px;
  top: -185px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.p1 .sponsor_logo {
  left: 5px;
}

.p2 .sponsor_logo {
  right: 5px;
}
