<html>
    <head>
        <script src="../include/globals.js"></script>
        <script src="../include/gsap.min.js"></script>
        <script src="../include/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="./index.css" />
    </head>
    <body>
        <div class="background"></div>
        
        <div class="phase"></div>
        <div class="match"></div>
        <div class="best_of"></div>

        <div class="p1 container">
            <div class="sponsor_logo"></div>
            <div class="row">
                <div class="name"></div>
            </div>
            <div class="row">
                <div class="real_name"></div>
            </div>
            <div class="row">
                <div class="twitter"></div>
            </div>
            <div class="flagscontainer">
                <div class="flagcountry"></div>
                <div class="flagstate"></div>
            </div>
        </div>

        <div class="p1 score_container">
            <div class="score"></div>
        </div>
        <div class="p2 container">
            <div class="sponsor_logo"></div>
            <div class="row">
                <div class="name"></div>
            </div>
            <div class="row">
                <div class="real_name"></div>
            </div>
            <div class="row">
                <div class="twitter"></div>
            </div>
            <div class="flagscontainer">
                <div class="flagcountry"></div>
                <div class="flagstate"></div>
            </div>
        </div>
        <div class="p2 score_container">
            <div class="score"></div>
        </div>

        <div class="p1 character"></div>
        <div class="p2 character"></div>

        <div class="vs">VS</div>

        <script src="index.js"></script>
    </body>
</html>