body {
  font-family: var(--font);
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  letter-spacing: 1;
}

.container {
  color: var(--text-color);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
  place-content: center;
}

.players_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px 32px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slot {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  height: 100%;
}

.same_size .slot {
  max-width: calc(25% - 16px);
  max-height: calc(50% - 16px);
}

.slot .title {
  width: 100%;
  font-size: 34px;
  margin: 0px 0;
  padding: 8px 8px;
  height: 70px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.footer > div:not(:last-child) {
  margin-right: 8px;
}

.player.container {
  position: relative;
  height: 100%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 1;
  background-color: var(--bg-color);
  padding: 8px 16px;
  box-sizing: border-box;
  align-items: center;
  height: 100px;
}

.name_twitter {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  align-items: flex-start;
  max-width: 100%;
}

.filler {
  display: flex;
  width: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}

.name_twitter .name {
  font-size: 32px;
  max-width: 100%;
}

.name_twitter .team_members {
  font-size: 24px;
}

.name_twitter .twitter {
  font-size: 24px;
  max-width: 100%;
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

.logo {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 74px;
  background-image: url("../logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
  z-index: 9;
}

.icon {
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: var(--border-radius);
  overflow: hidden;
  #background-color: #3f3f46;
  height: 84px;
}

.icon div:not(.text) {
  width: 84px;
  height: 84px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  #background-color: #3f3f46;
}

.icon.stockicon {
  position: absolute;
  left: 0;
  right: 0;
}

.icon.stockicon.divided {
  position: unset;
}

.icon.stockicon div {
  width: 100%;
  height: 100%;
}

.flags {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  justify-content: center;
  flex-shrink: 0;
}

.flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 24px;
  border-radius: 6px;
  border: 2px solid white;
}

.sponsor_icon {
  position: absolute;
  z-index: -1;
  bottom: 0;
  top: 0;
  right: 0;
  blend-mode: multiply;
  opacity: 0.6;
  overflow: hidden;
  padding: 8px;
}

.sponsor_icon > div > div {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
  border-radius: var(--border-radius);
}

.character_container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: calc(100% - 100px);
  z-index: 0;
}

.character_container > .text {
  align-items: flex-start;
}

.character_container > div {
  overflow: hidden;
  height: 100%;
  gap: 8px;
}

.character_container > div > div {
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  border-radius: 0;
  flex-shrink: 1;
}

.score {
  font-size: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  margin-left: -8px;
  color: white;
  margin-left: -8px;
  margin-right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(5px 5px 1px black);
}

.sponsor {
  color: var(--p1-sponsor-color);
}

.container_outer {
  top: 200px;
  bottom: 120px;
  left: 128px;
  right: 128px;
  display: flex;
  position: absolute;
  gap: 16px;
}

.top1_container {
  width: 40%;
}

.top8_rows {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 16px;
}

.top4_container,
.top8_container {
  display: flex;
  width: 100%;
  gap: 16px;
}

.top4_container {
  flex-grow: 5;
}

.top8_container {
  flex-grow: 4;
}

.same_size .top8_container {
  flex-wrap: wrap;
}

.score {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 120px;
  height: 120px;
  font-size: 102px;
  border-bottom-right-radius: 24px;
}

.top4_container .score {
  font-size: 74px;
  width: 96px;
  height: 96px;
}

.top8_container .score {
  font-size: 64px;
  width: 84px;
  height: 84px;
}

.flags {
  position: absolute;
  margin-bottom: -8px;
  z-index: 1;
  right: 8px;
  bottom: 116px;
}

.top1_container .filler,
.top3_container .filler,
.scaling .filler {
  width: 0;
}

.top1_container .name_twitter,
.top3_container .name_twitter,
.scaling .name_twitter {
  margin-bottom: -8px;
  height: 100px;
}
