body {
  font-family: var(--font);
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
  background-size: cover;
}

.bg {
  position: absolute;
  width: 303px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  overflow: hidden;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 12%), 0 0 3px 1px rgb(0 0 0 / 14%),
    0 0 1px 5px rgb(0 0 0 / 12%), 0 0 1px 2px rgb(0 0 0 / 10%);
}

.smash64 .bg {
  width: 224px;
}

.bg.left {
  overflow: hidden;
}

.bg.right {
  right: 0;
  background-position: right;
  overflow: hidden;
}

.container {
  color: var(--text-color);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  gap: 8px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
}

.player.container {
  top: 236px;
  width: 100%;
  height: 420px;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color);
  overflow: hidden;
}

.player.container.cameras {
  background-color: transparent;
}

.left .player.container {
  background-position: 100% 0;
  left: 0;
}

.right .player.container {
  background-position: 0 0;
  right: 0px;
}

.container .name {
  position: absolute;
  padding-left: 16;
  padding-right: 16;
  width: 100%;
  top: 0;
  height: 70px;
  font-size: 32px;
  box-sizing: border-box;
  background-color: var(--bg-color);
  overflow: hidden;
}

.container .twitter {
  position: absolute;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  bottom: 0px;
  height: 47px;
  font-size: 25px;
  box-sizing: border-box;
  background-color: var(--bg-color);
  overflow: hidden;
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.info.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 30px;
  color: var(--text-color);
  padding-left: 16px;
  padding-right: 16px;
  background-position: center;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 22px;
}

.info.container_inner {
  display: flex;
  width: 100%;
  gap: 8px;
  font-size: inherit;
  justify-content: space-around;
}

.info.container_inner > div {
  flex-shrink: 0;
  text-align: center;
}

.info.container.top {
  top: 4px;
  height: 50px;
  font-size: 26px;
}

.info.container.bottom {
  top: 116px;
  display: flex;
  justify-content: space-around;
  height: unset;
  flex-direction: column;
  width: 600px;
  font-size: 20px;
  padding: 4px 10px;
  top: unset;
  bottom: 4px;
  padding: 8px 16px;
  gap: 2px;
}

.phase {
  font-size: 20px;
  letter-spacing: 2px;
  width: 100%;
}

.match {
  font-size: 24px;
  letter-spacing: 2px;
  width: 100%;
}

.flags_container {
  position: absolute;
  gap: 8px;
  top: 78px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.left .flags_container {
  left: 8px;
}
.right .flags_container {
  right: 8px;
}

.flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 26px;
  border: 2px solid white;
  border-radius: 10px;
}

.character_container {
  position: absolute;
  overflow: hidden;
  top: 70px;
  height: 304px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left .character_container {
  background: var(--p1-score-bg-color);
}

.right .character_container {
  background: var(--p2-score-bg-color);
  transform: scaleX(-1);
}

.character_container.cameras {
  background: transparent !important;
}

.character {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.icon {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.score {
  top: 14px;
  width: 100%;
  height: 92px;
  font-size: 64px;
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.left .score {
  background: var(--p1-score-bg-color);
}

.left .sponsor {
  color: var(--p1-sponsor-color);
}

.right .score {
  background: var(--p2-score-bg-color);
}

.right .sponsor {
  color: var(--p2-sponsor-color);
}

.sponsor_logo {
  position: absolute;
  bottom: 25px;
  width: 80px;
  height: 80px;
  font-size: 74px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.left .sponsor_logo {
  left: 0;
}

.right .sponsor_logo {
  right: 0;
}

.pronoun {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: normal;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  color: var(--bg-color);
  place-self: flex-end;
  position: absolute;
  top: 48px;
  z-index: 9;
}

.left .pronoun {
  background: var(--p1-sponsor-color);
  left: 4px;
}

.right .pronoun {
  background: var(--p2-sponsor-color);
  right: 4px;
}
