@font-face {
  font-family: "Roboto";
  src: url("../include/RobotoCondensed.ttf") format("truetype");
}

.text {
  white-space: nowrap;
  display: flex;
  min-width: 100%;
  width: fit-content;
  place-items: center;
  place-content: center;
  height: 100%;
  flex-direction: inherit;
}

body {
  font-family: Roboto;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
  background-size: cover;
}

.bg {
  position: absolute;
  width: 224px;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-image: url("wallpaper.png");
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.bg.left {
}

.bg.right {
  right: 0;
  background-position: right;
}

.container {
  color: white;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  gap: 8px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  background-color: #212121ff;
}

.player.container {
  top: 236px;
  width: 100%;
  height: 420px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
}

.left .player.container {
  background-position: 100% 0;
  left: 0;
}

.right .player.container {
  background-position: 0 0;
  right: 0px;
}

.container .name {
  position: absolute;
  left: 16;
  right: 16;
  top: 0;
  height: 70px;
  font-size: 32px;
}

.container .twitter {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0px;
  height: 47px;
  font-size: 25px;
}

.sponsor {
  color: yellow;
}

.info.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 30px;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  background-position: center;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 22px;
}

.info.container_inner {
  display: flex;
  width: 100%;
  gap: 8px;
  font-size: inherit;
  justify-content: space-around;
}

.info.container_inner > div {
  flex-shrink: 0;
  text-align: center;
}

.info.container.top {
  top: 4px;
  height: 50px;
  font-size: 28px;
}

.info.container.bottom {
  bottom: 4px;
  display: flex;
  justify-content: space-around;
}

.flags_container {
  position: absolute;
  gap: 8px;
  top: 78px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.left .flags_container {
  left: 8px;
}
.right .flags_container {
  right: 8px;
}

.flag {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 32px;
}

.character_container {
  position: absolute;
  overflow: hidden;
  top: 70px;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left .character_container {
  background-color: #ff3837ff;
}

.right .character_container {
  background-color: #1255a3ff;
  transform: scaleX(-1);
}

.character {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.icon {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.score {
  top: 14px;
  width: 92px;
  height: 92px;
  font-size: 64px;
  color: white;
  border-radius: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.left .score {
  background-color: #ff3837ff;
}

.left .sponsor {
  color: #ff3837ff;
}

.right .score {
  background-color: #1255a3ff;
}

.right .sponsor {
  color: #1255a3ff;
}

.sponsor_logo {
  position: absolute;
  bottom: 25px;
  width: 80px;
  height: 80px;
  font-size: 74px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.left .sponsor_logo {
  left: 0;
}

.right .sponsor_logo {
  right: 0;
}
