<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body class="cameras">
    <div class="container info top"></div>

    <div class="info bottom container">
      <div class="phase"></div>
      <div class="match"></div>
    </div>

    <div class="bg left">
      <div class="player p1 container cameras">
        <div class="name"></div>
        <div class="pronoun"></div>
        <div class="twitter"></div>
        <div class="character_container cameras"></div>
        <div class="flags_container">
          <div class="flagcountry"></div>
          <div class="flagstate"></div>
        </div>
        <div class="sponsor_logo"></div>
      </div>
      <div class="player p2 container cameras">
        <div class="name"></div>
        <div class="pronoun"></div>
        <div class="twitter"></div>
        <div class="character_container cameras"></div>
        <div class="flags_container">
          <div class="flagcountry"></div>
          <div class="flagstate"></div>
        </div>
        <div class="sponsor_logo"></div>
      </div>
      <div class="score"></div>
    </div>

    <div class="bg right">
      <div class="player p1 container cameras">
        <div class="name"></div>
        <div class="pronoun"></div>
        <div class="twitter"></div>
        <div class="character_container cameras"></div>
        <div class="flags_container">
          <div class="flagcountry"></div>
          <div class="flagstate"></div>
        </div>
        <div class="sponsor_logo"></div>
      </div>
      <div class="player p2 container cameras">
        <div class="name"></div>
        <div class="pronoun"></div>
        <div class="twitter"></div>
        <div class="character_container cameras"></div>
        <div class="flags_container">
          <div class="flagcountry"></div>
          <div class="flagstate"></div>
        </div>
        <div class="sponsor_logo"></div>
      </div>
      <div class="score"></div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
