chardet
charset-normalizer==3.4.1
qtpy
requests
py7zz
deepdiff==8.1.1
PyQtDarkThemeCglb
Pillow
Flask
flask-cors
asyncio
python-dateutil==2.9.0
pynput==1.7.7
PyQt6
loguru==0.7.3
flask-socketio
simple_websocket
atproto
termcolor==2.5.0
orjson
msgpack==1.1.0
qasync==0.27.1
tqdm==2.2.3
tzdata
zstd==1.5.7.3
