chardet==5.2.0
charset-normalizer==2.1.0
qtpy
requests==2.32.3
py7zr==0.22.0
deepdiff==8.0.1
git+https://github.com/henriquegemignani/PyQtDarkTheme.git@main
Pillow
Flask
flask-cors
asyncio
python-dateutil==2.8.2
pynput==1.7.6
pyside6==6.8.1
cloudscraper==1.2.71
loguru==0.7.3
flask-socketio
simple_websocket
termcolor==2.3.0
orjson==3.10.12
msgpack==1.1.0
qasync==0.26.0
tzdata
