chardet==5.1.0
charset-normalizer==2.1.0
qtpy
requests==2.28.1
py7zr==0.19.0
deepdiff==7.0.1
git+https://github.com/woopelderly/PyQtDarkTheme@python3.12
Pillow
Flask
flask-cors
asyncio
python-dateutil==2.8.2
pynput==1.7.6
pyside6==6.7.0
cloudscraper==1.2.71
loguru==0.7.0
flask-socketio
simple_websocket
termcolor==2.3.0
orjson==3.9.9
msgpack==1.0.7
qasync==0.26.0
