<html>
  <head>
    <script src="../include/globals.js"></script>
    <script src="../include/gsap.min.js"></script>
    <script src="../include/he.js"></script>
    <script src="../include/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body class="fgc thin bblue">
    <div class="logo"></div>

    <div class="anim_container_outer">
      <div class="anim_container_inner">
        <div class="info top container">
          <div class="tournament_name"></div>
        </div>

        <div class="p1 player container">
          <div class="icon avatar"></div>
          <div class="icon online_avatar"></div>
          <div class="flagcountry"></div>
          <div class="flagstate"></div>
          <div class="sponsor_icon"></div>
          <div class="name_twitter">
            <div class="name"></div>
            <div class="extra">
              <div class="pronoun"></div>
              <div class="twitter"></div>
            </div>
          </div>
          <div class="score"></div>
        </div>
        <div class="p2 player container">
          <div class="icon avatar"></div>
          <div class="icon online_avatar"></div>
          <div class="flagcountry"></div>
          <div class="flagstate"></div>
          <div class="sponsor_icon"></div>
          <div class="name_twitter">
            <div class="name"></div>
            <div class="extra">
              <div class="pronoun"></div>
              <div class="twitter"></div>
            </div>
          </div>
          <div class="score"></div>
        </div>

        <div class="info bottom container">
          <div class="phase"></div>
          <div class="match"></div>
        </div>
      </div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
