@font-face {
  font-family: "NotoSans";
  src: url("../include/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../include/RobotoCondensed.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../include/Roboto-Regular.ttf") format("truetype");
}

body {
  font-family: var(--font);
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  letter-spacing: 1;
}

.anim_container_outer {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 1080px;
}

.anim_container_inner {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 1080px;
}

.container {
  position: absolute;
  color: var(--text-color);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background: var(--bg-color);
  align-items: center;
}

.p1.container > div:not(:last-child) {
  margin-right: 8px;
}

.p1.container > div:first-child {
  margin-left: 8px;
}

.p2.container > div:not(:last-child) {
  margin-left: 8px;
}

.p2.container > div:first-child {
  margin-right: 8px;
}

.player.container {
  width: 500px;
  height: 64px;
  top: 42px;
  padding: 8px 8px;
}

.fgc .player.container {
  top: 8px;
  width: 652px;
}

.tekken7 .player.container {
  width: 580px;
}

.fgc.thin .player.container {
  top: 2px;
  height: 48px;
  width: 640px;
}

.fgc.thin.strive .player.container {
  width: 580px;
  top: 60px;
}

.p1.container {
  background-position: 100% 0;
  left: 380px;
  flex-direction: row;
}

.fgc .p1.container {
  left: 154px;
}

.tekken7 .p1.container {
  left: 226px;
}

.fgc.thin .p1.container {
  left: 164px;
}

.p2.container {
  background-position: 0 0;
  right: 380px;
  flex-direction: row-reverse;
}

.fgc .p2.container {
  right: 154px;
}

.tekken7 .p2.container {
  right: 226px;
}

.fgc.thin .p2.container {
  right: 164px;
}

.name_twitter {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  max-width: 100%;
}

.fgc .name_twitter {
  flex-direction: row;
  justify-content: space-between;
}

.fgc .p2 .name_twitter {
  flex-direction: row-reverse;
}

.name_twitter .name {
  font-size: 32px;
}

.fgc .name_twitter .name {
  width: 60%;
}

.fgc .p1 .name_twitter .name .text {
  justify-content: flex-start;
}

.fgc .p2 .name_twitter .name .text {
  justify-content: flex-end;
}

.name_twitter {
  overflow: hidden;
  max-width: 100%;
}

.name_twitter .extra {
  display: flex;
  overflow: hidden;
  gap: 2px;
  justify-content: center;
  overflow: hidden;
  max-width: 100%;
}

.p2 .extra {
  flex-direction: row-reverse;
}

.fgc .name_twitter .extra {
  width: 38%;
  flex-direction: column;
}

.name_twitter .twitter {
  font-size: 18px;
  max-width: 100%;
  overflow: hidden;
}

.fgc .p1 .name_twitter .twitter .text {
  justify-content: flex-end;
}

.fgc .p2 .name_twitter .twitter .text {
  justify-content: flex-start;
}

.fgc .p1 .name_twitter .pronoun {
  align-self: flex-end;
}

.fgc .p2 .name_twitter .pronoun {
  align-self: flex-start;
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.light .twitter_logo {
  filter: invert(1);
}

.logo {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-image: url("../logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
  z-index: 9;
}

.fgc .logo {
  top: 145px;
  width: 120px;
  height: 120px;
}

.fgc.thin .logo {
  top: 140px;
  width: 100px;
  height: 100px;
}

.fgc.thin.strive .logo {
  top: 200px;
}

.fgc.thin.bblue .logo {
  top: 970px;
}

.info.container {
  left: 50%;
  padding-left: 20px;
  padding-right: 20px;
  background-position: center;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 20px;
}

.info.container_inner {
  display: flex;
  width: 100%;
  font-size: inherit;
  justify-content: space-around;
}

.info.container_inner > div {
  flex-shrink: 0;
  text-align: center;
}

.info.container.top {
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 360px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 36px;
  padding: 8px 16px;
}

.tournament_name {
  font-size: 22px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fgc .info.container.top {
  top: 8px;
  height: 34px;
  width: 300px;
  font-size: 16px;
  padding: 8px 16px;
}

.tekken7 .info.container.top {
  height: 48px;
}

.fgc.thin .info.container.top {
  top: 2px;
  height: 48px;
}

.info.container.bottom {
  top: 42px;
  left: 42px;
  display: flex;
  justify-content: center;
  height: unset;
  flex-direction: column;
  width: 280px;
  height: 64px;
  font-size: 20px;
  padding: 4px 16px;
}

.phase {
  font-size: 16px;
  letter-spacing: 3px;
  width: 100%;
}

.match {
  font-size: 24px;
  letter-spacing: 2px;
  width: 100%;
}

.fgc .info.container.bottom {
  top: unset;
  bottom: 6px;
  padding: 16px 24px;
  left: 50%;
  transform: translateX(-50%);
}

.bblue .info.container.bottom {
  top: 180px;
  bottom: unset;
}

.icon {
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: #3f3f46;
}

.thin .icon {
  border-radius: 8px;
}

.icon div:not(.text) {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3f3f46;
}

.fgc.thin .icon div:not(.text) {
  height: 38px;
  width: 38px;
  background-size: cover;
}

.flags_container {
  display: flex;
  flex-direction: column;
}

.flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 22px;
  border-radius: 6px;
}

.ssbu .flagstate .text div {
  margin-top: 4px;
}

.sponsor_icon > div > div {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border-radius: var(--border-radius);
}

.fgc.thin .sponsor_icon > div > div {
  width: 38px;
  height: 38px;
}

.character_container {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-shrink: 0;
}

.character_container > div {
  overflow: hidden;
  height: 48px;
}

.fgc.thin .character_container > div {
  height: 100%;
}

.fgc.thin .character_container > div > div {
  height: 100%;
}

.character_container > div > div {
  overflow: hidden;
  height: 48px;
  display: flex;
  align-items: center;
}

.character_container > div > div:not(:last-child) {
  margin-right: 4px;
}

.score {
  width: 64px;
  height: 64px;
  font-size: 40px;
  color: var(--bg-color);
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  margin-right: -8px;
}

.fgc.thin .score {
  font-size: 32px;
  width: 48px;
}

.pronoun {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: normal;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
  color: var(--bg-color);
  align-self: center;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.p1 .score {
  color: var(--p1-score-color);
  background: var(--p1-score-bg-color);
}

.sponsor {
  margin-right: 6px;
}

.p1 .sponsor {
  color: var(--p1-sponsor-color);
}

.p1 .pronoun {
  background-color: var(--p1-sponsor-color);
}

.p2 .score {
  color: var(--p2-score-color);
  margin-left: -8px;
  margin-right: 0;
  background: var(--p2-score-bg-color);
}

.p2 .sponsor {
  color: var(--p2-sponsor-color);
}

.p2 .pronoun {
  background-color: var(--p2-sponsor-color);
}

.losers {
  display: inline-flex;
  width: 22px;
  height: 22px;
  font-size: 18px;
  border-radius: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

.p1 .losers {
  background: #ff3837ff;
}

.p2 .losers {
  background: #308affff;
}
