<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./multicam.css" />
  </head>
  <body>
    <div class="title">
      <div class="container">
        <div class="logo"><div></div></div>
        <div class="col">
          <div class="tournament_name"></div>
          <div class="event_name"></div>
        </div>
      </div>
    </div>
    <div class="multicam_container"></div>
    <script src="multicam.js"></script>
  </body>
</html>