body {
	font-family: var(--font);
	font-weight: bold;
	opacity: 0;
	overflow: hidden;
	margin: 0;
	width: 1920px;
	height: 1080px;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
		drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
		drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
		drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
	letter-spacing: 1;
	background-size: cover;
}

.wrap {
	overflow: hidden;
}

iframe {
	border: none;
	width: 1920px;
	height: 1080px;
	/* background-image: url(https://i.ytimg.com/vi/4VsW-qRM8EI/maxresdefault.jpg); */
	background-size: cover;
	overflow: hidden;
	transform-origin: top left;
}

.multicam_container {
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	position: absolute;
	align-content: flex-end;
	align-items: center;
	justify-content: center;
	gap: 16px 24px;
	padding: 16px 42px;
	overflow: hidden;
	box-sizing: border-box;
}

.container {
	color: var(--text-color);
	overflow: hidden;
	display: flex;
	box-sizing: border-box;
	background-color: var(--bg-color);
	align-items: center;
	justify-content: center;
	place-content: center;
  }

.title {
	width: 100%;
	height: 76px;
	box-sizing: border-box;
	font-size: 42px;
	position: absolute;
	z-index: 99;
}
  
.title .container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.tournament_name .text,
.event_name .text {
	justify-content: left;
}

.bracket_name .text,
.pool_name .text {
  justify-content: right;
}

.title .col {
  display: flex;
  width: 100%;
  padding-left: 180px;
}

.title .faded {
	opacity: 0.7;
}

.divider {
	font-size: 36px;
	opacity: 0.7;
	margin-left: 16px;
	margin-right: 16px;
}

.title .logo {
	position: absolute;
	left: 0;
	display: block;
	width: 150px;
	height: 150px;
	margin-left: 16px;
	background-image: url("../logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.title .logo div {
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, var(--bg-color) 100%);
}

.name, .name_twitter {
	font-size: 56px;
	padding-left: 16px;
	padding-right: 16px;
	z-index: 99;
	background: linear-gradient(90deg, var(--bg-color) 0%, var(--bg-color) 75%, rgba(0,212,255,0) 100%);
}

.p2 .name, .name_twitter {
	font-size: 56px;
	padding-left: 16px;
	padding-right: 16px;
	z-index: 99;
	background: linear-gradient(270deg, var(--bg-color) 0%, var(--bg-color) 75%, rgba(0,212,255,0) 100%);
}

.logo, .avatar, .online_avatar {
    display: none;
}

.character_container {
	position: absolute;
	right: 80px;
	width: 80px;
	height: 80px;
	justify-content: center;
	width: 180px;
}

.character_container > div {
	width: 100%;
	height: 100%;
}

.character_container > div > div {
	height: 100%;
}

.p1 .name {
	margin-right: 80px;
}

.p2 .name {
	margin-left: 80px;
}

.p1 .name .text {
	justify-content: flex-start;
}

.p2 .name .text {
	justify-content: flex-end;
}

.p1 .character_container {
	right: 80px;
}

.p2 .character_container {
	left: 80px;
}

.player.container {
	width: 540px;
	height: 64px;
	top: 16px;
}

.p2.container {
	right: 410px;
}

.p1.container {
	left: 410px;
}

.chips {
	width: 540px;
	top: 88px;
	height: 46px;
}

.p1.chips {
	left: 412px;
}

.p2.chips {
	left: 965px;
}

.chip .text:not(.text_empty) {
	height: 46px;
	font-size: 42px;
}

.flag {
	width: 64px;
	height: 46px;
}

.score {
	font-size: 64px;
	width: 80px;
	height: 80px;
}

.info.container.bottom {
	top: 16px;
	left: 16px;
	width: 380px;
	height: 120px;
}

.phase {
	font-size: 38px;
}

.match {
	font-size: 42px;
}

.info.container.top {
	display: none;
}

.tsh_character {
	background-color: unset;
	border-radius: 0;
}