<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <svg class="lines base"></svg>
    <svg class="lines win"></svg>
    <div class="center_container"></div>
    <div class="winners_container"></div>
    <div class="losers_container"></div>
    <div class="winners_icons"></div>
    <div class="losers_icons"></div>
    <div class="header">
      <div class="bg"></div>
      <div class="title"></div>
    </div>
    <div class="trophy"></div>
    <script>
      window.USE_ONLINE_PICTURE = true;
    </script>
    <script src="index.js"></script>
  </body>
</html>
