<html>
  <head>
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="title ruleset"></div>
    <div class="title">Neutral Stages</div>
    <div class="neutral"></div>
    <div class="title">Counterpick Stages</div>
    <div class="counterpick"></div>
    <div class="title">Rules</div>
    <div class="rules"></div>

    <script src="index.js"></script>
  </body>
</html>
