@font-face {
  font-family: "Samurai";
  src: url("../include/Samurai.ttf") format("truetype");
}

body {
  font-family: var(--font);
  letter-spacing: 1.2px;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
  /* background-image: url(./test.png); */
  background-size: cover;
  background-position: center;
}

.stage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -999;
}

.stage .text div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: -999;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./bg.png);
  filter: blur(5px) contrast(1.6) saturate(0.5) brightness(0.8);
}

.stage_name {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  top: 808px;
  display: flex;
  z-index: 99;
}

.stage_name > .text {
  flex-direction: column;
}

.stage_name .title {
  color: white;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 0 black;
}

.stage_name .name {
  color: #c00080;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 450px;
  width: 450px;
  box-sizing: border-box;
  padding: 0px 42px;
  background: linear-gradient(90deg, transparent 0%, #000000FF 20%, #000000FF 80%, transparent 100%);
  text-align: center;
}

.player_avatar {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  top: 640px;
  width: 700px;
  padding: 0 48px;
  position: absolute;
  display: flex;
  z-index: 999;
}

.p1 .player_avatar {
  background: var(--p1-score-bg-color);
  -webkit-mask-image: -webkit-linear-gradient(
    left,
    #ffffff 0%,
    #ffffff 80%,
    #ffffff00 100%
  );
}
.p2 .player_avatar {
  background: var(--p2-score-bg-color);
  -webkit-mask-image: -webkit-linear-gradient(
    right,
    #ffffff 0%,
    #ffffff 80%,
    #ffffff00 100%
  );
}

.player_avatar div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.player.container.p1 {
  border-bottom-right-radius: 0;
}

.player.container.p2 {
  flex-direction: row-reverse;
  border-bottom-left-radius: 0;
}

.player.container .column {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 460px;
  overflow: hidden;
  align-items: flex-start;
}

.name_col.column {
  width: 480px;
}

.column > div {
  max-width: 100%;
}

.player.container.p2 .column {
  align-items: flex-end;
}

.player.container.p2 .column > div {
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
}

.p2 .row {
  flex-direction: row-reverse;
}

.p2.container .row > div {
  justify-content: flex-end;
}

.p1.container {
  background-position: 100% 0;
  left: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.p2.container {
  background-position: 0 0;
  right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.container .name {
  font-size: 74px;
}

.container .name .text > span {
  display: flex;
  align-items: center;
  padding-right: 20px;
  font-style: italic;
}

.p2.container .name .text > span {
  flex-direction: row-reverse;
}

.container .real_name {
  font-size: 24px;
  height: 24px;
  margin-bottom: 26px;
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.twitter {
  font-size: 26px;
  height: 32px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  transform-origin: center;
  background-image: url("../logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sponsor {
  -webkit-background-clip: text;
  color: transparent;
  overflow: visible;
}

.p1 .sponsor {
  background: linear-gradient(#ae92cd, var(--p1-sponsor-color), #9d9d9d);
  -webkit-background-clip: text;
}

.p2 .sponsor {
  background: linear-gradient(#ae92cd, var(--p2-sponsor-color), #9d9d9d);
  -webkit-background-clip: text;
}

.losers {
  text-transform: uppercase;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-flex;
  font-size: 48px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 14px;
}

.p1 .losers {
  background: linear-gradient(#ae92cd, var(--p1-sponsor-color), #9d9d9d);
  -webkit-background-clip: text;
}

.p2 .losers {
  background: linear-gradient(#ae92cd, var(--p2-sponsor-color), #9d9d9d);
  -webkit-background-clip: text;
}

.info {
  align-items: center;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  z-index: 9;
  overflow: hidden;
}

.tournament {
  top: 20px;
  font-size: 64px;
  place-content: center;
  max-width: 100%;
}

.match {
  font-size: 92px;
  letter-spacing: 2px;
  place-content: center;
  text-transform: uppercase;
  max-width: 100%;
}

.phase_best_of {
  text-transform: uppercase;
  font-size: 48px;
  place-content: center;
  padding-left: 20px;
  padding-right: 20px;
  background-position: center;
  max-width: 100%;
  letter-spacing: 2px;
}

.flagscontainer {
  height: 80px;
  display: flex;
  flex-direction: row !important;
  gap: 16px;
}

.p2 .flagscontainer {
  flex-direction: row-reverse !important;
}

.flag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
}

.flagimage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 20px;
}

.score {
  position: absolute;
  width: 200px;
  height: 200px;
  right: calc(50vw + 16px);
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 200px;
  align-items: center;
  bottom: 0;
  z-index: 99;
}

.p2.score {
  right: unset;
  left: calc(50vw + 16px);
}

.p1.character {
  position: absolute;
  overflow: visible;
  left: 0px;
  width: 45vw;
  top: 0;
  height: 100vh;
  perspective: 1000px;
  perspective-origin: right;
  z-index: -1;
  display: flex;
  flex-direction: column;
  transform-origin: left;
  flex-direction: column;
}

.tsh_character {
  filter: contrast(1.8) saturate(0.6);
}

.character .tsh_character {
  -webkit-mask-image: -webkit-linear-gradient(
    left,
    #ffffff 0%,
    #ffffff 80%,
    #ffffff00 100%
  );
}

.p2.character .tsh_character {
  -webkit-mask-image: -webkit-linear-gradient(
    right,
    #ffffff 0%,
    #ffffff 80%,
    #ffffff00 100%
  );
}

.p2.character .tsh_character div {
  transform: scaleX(-1);
}

.character .video {
  top: 0;
  position: absolute;
  left: 0%;
}

.p2.character video {
  transform-origin: 50% 50%;
  transform: scaleX(-1);
  left: unset;
  right: 0%;
}

.p1.character .bg {
  width: 100%;
}

.bg {
  height: 100%;
  /* filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.42))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.44))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.42))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.4)); */
}

.bg:not(:last-child) {
  border-bottom: 4px solid var(--bg-color);
}

.p2.character {
  position: absolute;
  overflow: visible;
  right: 0px;
  width: 50vw;
  top: 0;
  height: 100vh;
  perspective: 1000px;
  perspective-origin: left;
  display: flex;
  transform-origin: right;
  flex-direction: column;
}

.p2.character .bg {
  width: 100%;
  //background: var(--p2-score-bg-color);
}

.portrait_container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.portrait {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(-32px 16px 0px rgba(0, 0, 0, 0.8));
}

.invert_shadow {
  filter: drop-shadow(32px 16px 0px rgba(0, 0, 0, 0.8));
}

.vs {
  font-size: 200px;
  position: absolute;
  left: 48%;
  top: 46%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  z-index: 999;
  padding: 50px;
  font-style: italic;
}

.vs2 {
  filter: brightness(2);
}

.sponsor-logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
}

.sponsor_logo {
  position: absolute;
  bottom: 305px;
  z-index: 9;
}

.p1.sponsor_logo {
  left: 560px;
}

.p2.sponsor_logo {
  right: 560px;
}

.pronoun {
  height: 32px;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: transparent;
  width: 100%;
}

.p1 .pronoun .text {
  justify-content: left;
}

.p2 .pronoun .text {
  justify-content: right;
}

.p1 .pronoun .text {
  background: linear-gradient(#ae92cd, var(--p1-sponsor-color), #9d9d9d);
  -webkit-background-clip: text;
}

.p2 .pronoun .text {
  background: linear-gradient(#ae92cd, var(--p2-sponsor-color), #9d9d9d);
  -webkit-background-clip: text;
}

.character_name {
  position: absolute;
  font-family: "Samurai";
  font-size: 460px;
  width: 70vw;
  padding: 20px;
  z-index: -999;
  color: #f0006d88; //#c8006088;
  text-transform: uppercase;
  filter: drop-shadow(0px 0px 16px #f0006d);
}

.p1.character_name {
  left: -10%;
  top: 50px;
  transform-origin: left;
}

.p2.character_name {
  bottom: 50px;
  right: -10%;
  transform-origin: right;
}

.metallic .text,
.vs.metallic {
  text-transform: uppercase;
  background: linear-gradient(#ae92cd, #ffffff, #9d9d9d);
  -webkit-background-clip: text;
  color: transparent;
}

.shadow {
  filter: drop-shadow(-2px 0px 2px rgba(0, 0, 0, 0.8))
    drop-shadow(2px 0px 2px rgba(0, 0, 0, 0.8))
    drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.8))
    drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.8));
  overflow: hidden;
}

.table_info {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 2px;
}

.table_info > div {
  color: white;
  height: 32px;
  font-size: 22px;
  transform: skew(-16deg);
  background: #000000cc;
  width: calc(50% - 16px);
}

.table_info .text_empty {
  display: none;
}

.table_info .unskew {
  transform: skew(16deg);
  display: flex;
  gap: 4px;
}

.table_info .text {
  justify-content: left;
  padding: 0 16px;
}