<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="info">
      <div class="tournament"></div>
      <div class="match"></div>
      <div class="phase_best_of"></div>
    </div>

    <div class="p1 player container">
      <div class="sponsor_logo"></div>
      <div class="flagscontainer">
        <div class="flagcountry"></div>
        <div class="flagstate"></div>
      </div>

      <div class="column">
        <div class="name"></div>
        <div class="pronoun"></div>
        <div class="real_name"></div>
        <div class="twitter"></div>
      </div>

      <div class="score"></div>
    </div>

    <div class="p2 player container">
      <div class="sponsor_logo"></div>
      <div class="flagscontainer">
        <div class="flagcountry"></div>
        <div class="flagstate"></div>
      </div>

      <div class="column">
        <div class="name"></div>
        <div class="pronoun"></div>
        <div class="real_name"></div>
        <div class="twitter"></div>
      </div>

      <div class="score"></div>
    </div>

    <div class="p1 character"></div>
    <div class="p2 character"></div>

    <div class="vs vs1">VS</div>
    <div class="vs vs2">VS</div>

    <script src="index.js"></script>
  </body>
</html>
