<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="stage"></div>

    <div class="info shadow">
      <div class="tournament metallic"></div>
      <div class="match metallic"></div>
      <div class="phase_best_of metallic"></div>
    </div>

    <div class="p1 player container">
      <div class="name_col column">
        <div class="pronoun shadow"></div>
        <div class="name metallic shadow"></div>
        <div class="real_name metallic shadow"></div>
        <div class="twitter metallic shadow"></div>
        <div class="table_info">
          <div class="seed"></div>
          <div class="country"></div>
          <div class="state"></div>
        </div>
      </div>
    </div>
    <div class="p1 score metallic shadow"></div>
    <div class="p1 sponsor_logo"></div>

    <div class="p2 player container">
      <div class="name_col column">
        <div class="pronoun shadow"></div>
        <div class="name metallic shadow"></div>
        <div class="real_name metallic shadow"></div>
        <div class="twitter metallic shadow"></div>
        <div class="table_info">
          <div class="seed"></div>
          <div class="country"></div>
          <div class="state"></div>
        </div>
      </div>
    </div>
    <div class="p2 score metallic shadow"></div>
    <div class="p2 sponsor_logo"></div>

    <div class="p1 character_name"></div>
    <div class="p2 character_name"></div>

    <div class="p1 character">
      <div></div>
    </div>
    <div class="p2 character">
      <div></div>
    </div>

    <div class="stage_name"></div>

    <div class="vs vs1 metallic shadow">VS</div>
    <div class="vs vs2 metallic">VS</div>

    <script>
      window.ONLINE_AVATAR = true;
    </script>
    <script src="index.js"></script>
  </body>
</html>
