<html>
    <head>
        <script src="../include/globals.js"></script>
        <script src="../include/gsap.min.js"></script>
        <script src="../include/he.js"></script>
        <script src="../include/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="./index.css" />
    </head>
    <body>
        <div class="background"></div>
        
        <div class="phase"></div>
        <div class="match"></div>
        <div class="best_of"></div>

        <div class="recent_sets">
            <div class="recent_sets_title">Recent Sets</div>
            <div class="recent_sets_content"></div>
        </div>

        <div class="p1 container">
            <div class="sponsor_logo"></div>
            <div class="row">
                <div class="name"></div>
            </div>
            <div class="row">
                <div class="real_name"></div>
            </div>
            <div class="row">
                <div class="twitter"></div>
            </div>
            <div class="flagscontainer">
                <div class="flagcountry"></div>
                <div class="flagstate"></div>
            </div>
        </div>

        <div class="p2 container">
            <div class="sponsor_logo"></div>
            <div class="row">
                <div class="name"></div>
            </div>
            <div class="row">
                <div class="real_name"></div>
            </div>
            <div class="row">
                <div class="twitter"></div>
            </div>
            <div class="flagscontainer">
                <div class="flagcountry"></div>
                <div class="flagstate"></div>
            </div>
        </div>

        <div class="p1 character"></div>
        <div class="p2 character"></div>

        <!-- <iframe src="../map/map_no_hud.html" style="border: 0; position: absolute; width: 580px; height: 260px; left: 50%; transform: translateX(-50%); bottom: 32px;"></iframe> -->

        <script src="index.js"></script>
    </body>
</html>