body {
  font-family: var(--font);
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  letter-spacing: 1px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  gap: 16px;
  color: var(--text-color);
  flex-wrap: wrap;
}

.commentator_container {
  width: 300;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 30px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 12px;
  background: var(--bg-color);
}

.mic_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-mask-image: url(./icon_mic.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
}

.name {
  font-size: 26px;
}

.team {
  opacity: 0.6;
}

.twitter {
  font-size: 20px;
}

.icon {
  width: 128px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
}

.index_display {
  position: absolute;
  bottom: 8px;
  right: 32px;
  z-index: 999;
  color: white;
  font-size: 100px;
  text-shadow: 12px 12px 2px black;
}

.pronoun {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  color: var(--text-color);
  align-self: center;
}
