<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:wght@800;900&family=M+PLUS+1p:wght@900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="ssbu">
    <div class="logo"></div>

    <div class="tournament_logo"></div>

    <div class="tournament_container">
      <div class="match"></div>
    </div>

    <div class="anim_container_outer">
      <div class="anim_container_inner">
        <div class="p1 container">
          <div class="inner_container">
            <div class="flags_container">
              <div class="flagcountry"></div>
            </div>
            <div class="name"></div>
            <div class="score"></div>
          </div>
        </div>

        <div class="p2 container">
          <div class="inner_container">
            <div class="flags_container">
              <div class="flagcountry"></div>
            </div>
            <div class="name"></div>
            <div class="score"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="p1 twitter"></div>
    <div class="p2 twitter"></div>

    <script src="index.js"></script>
  </body>
</html>
