<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="leaflet/leaflet.css" />
    <script src="leaflet/leaflet.js"></script>
    <script src="leaflet/leaflet-tilelayer-colorfilter.min.js"></script>
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="container">
      <div id="map" class="map"></div>
      <div class="overlay">
        <div class="overlay-element" id="distance"></div>
        <div class="overlay-element" id="ping"></div>
      </div>
    </div>

    <script>
      window.NOHUD = true;
    </script>
    <script src="index.js"></script>
  </body>
</html>
