/* @font-face {
  font-family: "Roboto Condensed";
  src: url("../include/RobotoCondensed.ttf") format("truetype");
} */

.text {
  white-space: nowrap;
  display: flex;
  min-width: 99%;
  width: fit-content;
  place-items: center;
  place-content: center;
  height: 100%;
}

body {
  font-family: "Roboto Condensed";
  font-weight: bold;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.neutral,
.counterpick {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.title {
  font-size: 48px;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rules {
  text-align: center;
  font-size: 32px;
}

.stage-name {
  position: absolute;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  height: 28px;
  bottom: 0;
  letter-spacing: 0.8;
  text-transform: uppercase;
}

.stage-name.text {
  padding-left: 5px;
  padding-right: 5px;
}

.stage-icon {
  width: 200px;
  height: 128px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stage-container {
  flex-shrink: 0;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  padding-bottom: 28px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  background-color: #424242;
}

.stamp {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
}
.stamp.stage-striked {
  background-image: url(../../assets/icons/stage_strike.svg);
}
.stamp.stage-dsr {
  background-image: url(../../assets/icons/stage_dsr.svg);
}
.stamp.stage-selected {
  background-image: url(../../assets/icons/stage_select.svg);
}
.stamp.stage-gentlemans {
  background-image: url(../../assets/icons/stage_gentlemans.svg);
}

.banned_by {
  background-color: #000000aa;
  position: absolute;
  width: 100%;
  top: 0;
}
