name: Generate Windows Release

on:
  #push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest"]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.10

      - run: pip install -r requirements.txt pyinstaller
      - run: pyinstaller main.py --onefile -w --icon icons\icon.ico

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*
